/*
  ===========================================================
  Normalizacion de estilos y definicion de variables globales
  ===========================================================
*/

:root {
  --background: #e5e5e5;
  --textPrimary: #121926;
  --basePrimary: #6a994e;
  --baseHover: #386641;
  --baseSecundary: #a7c957;
  --textSecondary: #8292a6;
  --box: #334155;
  background-color: var(--background);
  color: var(--textPrimary);
  font-family: "Khand", sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  color: inherit;
  /* border:1px solid red; */
}

html {
  scroll-behavior: smooth;
}

/*
  ===========================================================
                        Header
  ===========================================================
*/

.header__container{
  display: flex;
  background-color: var(--basePrimary);
  justify-content: space-between;
  padding: 1em 2em;
  color: var(--background);
}